<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/anime_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/editable_list.css') }}">
    <script src="{{ url_for('static', path='/js/editable_list.js') }}"></script>
    <title>Hanyuu</title>
</head>
<body>
    {% include "common/nav.html" %}
    <div class="c-page">
        <div class="anime-header">
            <img src="{{ anime.shiki_poster_url }}" alt="poster">
            <h2 class="main-title">{{ anime.shiki_title_ro }}</h2>
            <h3 class="secondary-title">{{ anime.shiki_title_ru }}</h3>
        </div>
        <span class="editable-list-title">Quiz Items</span>
        <div class="editable-list">
            <button type="button" onclick="add_new(this)" data-action="/animes/{{ anime.mal_id }}/qitems">Add new</button>
            {% for qitem in anime.qitems %}
                {% include "qitem/edit.html" %}
            {% endfor %}
        </div>
    </div>
</body>
</html>