<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <title>Hanyuu</title>
</head>
<body>
    <table class="c-animes">
        <thead>
            <tr>
                <td>{{ anime.shiki_title_ro }}</td>
                <img loading="lazy" src="{{ anime.shiki_poster_url }}" alt="Anime poster">
            </tr>
            {% for qitem in anime.qitems %}
                <p>{{ qitem.category }} {{ qitem.number }}</p>
            {% endfor %}
        </thead>
    </table>
</body>
</html>