<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
    <title>Hanyuu</title>
</head>
<body>
    {% include "common/nav.html" %}
    <div class="c-page">
        <form action="" method="get" id="search-form">
            <input type="text" name="search-query" id="search-bar" class="search-bar">
        </form>
        <div class="c-animes">
            {% for anime in animes %}
                <article class="anime-card" data-href="{{ url_for('read_anime', mal_id=anime.mal_id) }}">
                    <img loading="lazy" src="{{ anime.shiki_poster_thumb_url }}" alt="poster">
                    <span class="main-title">{{ anime.shiki_title_ro }}</span>
                    <span class="secondary-title">{{ anime.shiki_title_ru }}</span>
                </article>
            {% endfor %}
        </div>
    </div>
</body>
</html>