<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/search.css') }}">
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
    <title>Hanyuu</title>
</head>
<body>
    {% include "common/nav.html" %}
    <div class="c-page">
        {% include "common/search_bar.html" %}
        <div class="c-search-results">
            {% for anime in animes %}
                <div class="search-result {{ 'added' if anime.added else '' }}" data-mal-id="{{ anime.id }}">
                    <img loading="lazy" src="{{ anime.poster.originalUrl }}" alt="poster" class="poster">
                    
                    <span class="main-title">{{ anime.name }}</span>
                    <span class="secondary-title">{{ anime.russian }}</span>

                    <a class="button darken-hover add-button">Add</a>
                    <a class="button darken-hover goto-button">Go to page</a>
                    <a href="{{ anime.url }}" class="button darken-hover link-button">Shiki</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>