@media (max-width: 900px) {
    .c-animes {
        --columns: 2;
    }
}

.c-animes {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(var(--columns, 4), 1fr);
}

.anime-card {
    border: 3px solid transparent;
    border-radius: 5px;

    cursor: pointer;
    padding: .5em 1em 0 1em;
    max-width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: var(--color-black);

    &:hover {
        border-color: var(--color-pri-8);
    }

    &>img {
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }

    &>span {
        margin: .4em 0;
        line-height: 1em;
        text-wrap: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;

        &.main-title {
            font-weight: 600;
        }

        &.secondary-title {
            font-weight: 300;
            font-size: .8em;
        }
    }
}
