.anime-header {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        "img tl1"
        "img tl2";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 1em 3em;

    & > img {
        grid-area: img;
        height: 20em;
    }

    & > h2, & > h3 {
        margin: 0;
        max-width: 100%;
        display: inline;
        max-width: max-content;
    }

    & > .main-title {
        margin-top: 2rem;
        font-size: 2em;
        grid-area: tl1;
    }

    & > .secondary-title {
        font-weight: 300;
        font-size: 1.2em;
        grid-area: tl2;
    }
}
