@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--color-pri-9);
}

nav {
    position: fixed;
    height: 100%;

    background-color: var(--color-black);
    color: var(--color-white);
    padding: .5em 1em;
    font-size: 2rem;
    text-align: center;
}

nav a {
    color: inherit;
    text-decoration: none;
}

form {
    margin: 0;
    padding: 0;
}

.c-page {
    max-width: max(50%, 400px);
    margin: 0 auto;
    padding: 1em;
    background-color: var(--color-white);
}

button,
a.button,
.darken-hover {
    &:hover {
        filter: brightness(90%);
    }

    &:active {
        filter: brightness(80%);
    }
}

button,
a.button {
    text-decoration: none;
    user-select: none;
    
    border: 1px solid transparent;
    border-radius: 50vh;
    padding: .6em .8em;
    max-width: max-content;
    cursor: pointer;

    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
}

input[type="text"],
input[type="number"] {
    padding: .2em;
    padding-left: .5em;
}

input[type="number"] {
    max-width: 3.5em;
}

.button-pri-solid {
    background-color: var(--color-pri-5);
    color: var(--color-white);
}

.button-sec-solid {
    background-color: var(--color-sec-5);
    color: var(--color-white);
}

.button-pri-hollow {
    background-color: var(--color-white);
    border-color: var(--color-pri-5);
    box-shadow: 0 0 2px var(--color-pri-5);
    color: var(--color-pri-5);
}

.button-sec-hollow {
    background-color: var(--color-white);
    border-color: var(--color-sec-5);
    color: var(--color-sec-5);
}