@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-size: 1.2rem;
    font-family: "Roboto Condensed", sans-serif;
}

nav {
    background-color: black;
    color: white;
    padding: .5em 1em;
    font-size: 2rem;
    text-align: center;
}

nav a {
    color:inherit;
    text-decoration:none;
}

form {
    margin: 0;
    padding: 0;
}

.darken-hover:hover {
    filter: brightness(90%);
}

.c-page {
    max-width: max(50%, 400px);
    margin: 1em auto;
}