.search-form {
    display: grid;
    grid-template-columns: 1fr min-content;

    --main-color: var(--color-pri-6);

    & input.search-bar {
        width: 100%;
        font-size: 1.2em;
        padding: .4em;
        border: 1px solid gray;
        border-right: 0;
        border-radius: 5px 0 0 5px;
    
    
        &:focus {
            border-color: var(--main-color);
            box-shadow: 0 0 4px var(--main-color);
            outline: 0;
        }
    }

    & button {
        padding: 0 1em;
        height: 100%;
        border: 0;
        border-radius: 0 5px 5px 0;
        background-color: var(--main-color);
        color: var(--color-white);

        & > img {
            height: 2em;
        }
    }
}