.c-search-results {
    max-width: 100%;
    margin-top: 2em;
    display: grid;
    gap: 3em 1em;
    grid-template-columns: repeat(2, 1fr);
}

.search-result {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .5em;

    & > img {
        max-width: 100%;
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }

    & > section {
        display: flex;
        flex-direction: column;
        gap: .2em;

        & > span {
            margin: .4em 0 0 0;
            line-height: 1em;
            display: block;
            overflow: hidden;
    
            &.main-title {
                font-weight: 600;
            }
    
            &.secondary-title {
                font-weight: 300;
                font-size: .8em;
            }
        }

        & > .buttons {
            display: flex;
            margin-top: auto;
            gap: .5em;

            & .goto-button,
            & .add-button {
                width: 100%;
                flex: 1;
            }

            & .link-button {
                margin-left: auto;
            }
        }
    }
}

.goto-button {
    display: none;
}

.add-button {
    display: block;
}

.search-result.added .goto-button {
    display: block;
}

.search-result.added .add-button {
    display: none;
}
/* 
.search-result {
    display: grid;
    grid-template-areas:
        "img tl1 tl1"
        "img tl2 tl2"
        "img bt1 bt2";
    gap: .5em;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: min-content 1fr min-content;

    &>img {
        grid-area: img;
        width: 100%;
        height: auto;
    }

    &>span {
        margin: .4em 0 0 0;
        line-height: 1em;
        display: block;
        overflow: hidden;

        &.main-title {
            grid-area: tl1;
            font-weight: 600;
        }

        &.secondary-title {
            grid-area: tl2;
            font-weight: 300;
            font-size: .8em;
        }
    }

    & a {
        text-decoration: none;
        border: 0;
        cursor: pointer;
        padding: .5em;
        color: white;
        text-align: center;

        &.add-button {
            grid-area: bt1;
            background-color: #99e692;
        }

        &.goto-button {
            display: none;
            grid-area: bt1;
            background-color: #EA85C0;
        }

        &.link-button {
            grid-area: bt2;
            background-color: #A1DDED;
        }
    }

    &.added {
        & .add-button {
            display: none;
        }

        & .goto-button {
            display: block;
        }
    }
} */