.c-page {
    max-width: max(50%, 400px);
    margin: 1em auto;
}

@media (max-width: 900px) {
    .c-animes {
        --columns: 2;
    }
}

.c-animes {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(var(--columns, 4), 1fr);
}

.anime-card {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: .5em 1em 0 1em;
    max-width: 100%;
    overflow: hidden;

    &:hover {
        border-color: gray;
    }

    &>img {
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }

    &>span {
        margin: .4em 0;
        line-height: 1em;
        text-wrap: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;

        &.main-title {
            font-weight: 600;
        }

        &.secondary-title {
            font-weight: 300;
            font-size: .8em;
        }
    }
}

input.search-bar {
    width: 100%;
    font-size: 1.2em;
    padding: .2em;
    border: 1px solid gray;
    border-radius: 5px;

    --focus-color: #C9ADFF;

    &:focus {
        border-color: var(--focus-color);
        box-shadow: 0 0 4px var(--focus-color);
        outline: 0;
    }
}