<div class="editable-list-item source" data-id="{{ source.id }}">
    <form>
        <input type="number" name="id" value="{{ source.id }}" style="display: none" readonly>

        <label for="platform">Platform</label>
        <select name="platform">
            <option value="youtube" {{ 'selected' if source.platform == 'youtube' else '' }}>YouTube</option>
            <option value="torrent" {{ 'selected' if source.platform == 'torrent' else '' }}>Torrent</option>
        </select>
        
        <label for="path">Path</label>
        <input type="text" name="path" value="{{ source.path }}">
        
        <button type="button" onclick="update_item(this)">O</button>
        <button type="button" onclick="delete_item(this)">X</button>
    </form>
    
    <span class="editable-list-title">Timings</span>
    <div class="editable-list" data-base-action="/timings">
        <button type="button" onclick="add_item(this)">Add new</button>
        {% for timing in source.timings %}
            {% include "timing/edit.html" %}
        {% endfor %}
    </div>
</div>