<div class="editable-list-item" data-id="{{ source.id }}">
    <form>
        <input type="number" name="id" value="{{ source.id }}" style="display: none" readonly>

        {% if source.local_fp is not none %}
            <a class="video-link" href="{{ url_for('get_source_video', id_=source.id) }}">Watch</a>
        {% endif %}

        <section>
            <label for="platform">Platform</label>
            <select name="platform">
                <option value="yt-dlp" {{ 'selected' if source.platform == 'yt-dlp' else '' }}>yt-dlp</option>
                <option value="torrent" {{ 'selected' if source.platform == 'torrent' else '' }}>Torrent</option>
            </select>
        </section>
        
        <section>
            <label for="path">Path</label>
            <input type="text" name="path" value="{{ source.path }}">
        </section>

        <section>
            <label for="additional_path">Additional Path</label>
            <input type="text" name="additional_path" value="{{ source.additional_path or '' }}">
        </section>
        
        <section>
            <button class="save-button" type="button" onclick="update_item(this)">Save</button>
            <button class="delete-button" type="button" onclick="delete_item(this)">Delete</button>
        </section>
    </form>
    
    <div class="editable-list timings-list" data-base-action="/timings">
        <span class="editable-list-title">Timings</span>
        <button type="button" onclick="add_item(this)">Add new</button>
        {% for timing in source.timings %}
            {% include "timing/edit.html" %}
        {% endfor %}
    </div>
</div>